@{
    ViewData["Title"] = "Home Page";
    var ErrorMessage = ViewBag.ErrorMessage;
}

@model ASPlogInV2.Models.CheckRegistrationData

@{
    string ShowDiv = "";
    if (ErrorMessage == null || ErrorMessage == "")
    {
        //If there is no error message
        ShowDiv = "fade";
    }
    else
    {
        //If there is a error message
        ShowDiv = "show";
    }

    //Will show the user if something went wrong or not.
    <div class="alert alert-danger alert-dismissible @ShowDiv" role="alert">
        <p>Error: @ErrorMessage</p>
        <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section class="container mt-3 mt-lg-4">
    <div class="row">
        <div class="col">
            <div class="card bg-accent text-adaptive border-adaptive py-4">
                <div class="card-body">
                    <h3 class="card-title text-center">Forgot password</h3>
                    <form method="post" asp-action="ForgetPasswordPage" asp-controller="Home">
                        <!-- Username -->
                        <div class="row">
                            <div class="col-md-6 mx-auto">
                                <small>Email:</small>
                                <input asp-for="useremail" type="text" placeholder="Enter email..." class="form-control border-adaptive"/>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="row text-center mt-3">
                            <div class="col">
                                <button class="btn btn-lg text-accent border-adaptive" type="submit">Reset Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>