<section class="container mt-3 mt-lg-4">
    <div class="row">
        <!-- Index tabs/jump cut to sections -->
        <div class="col-md-3">
            <div class="list-group sticky-top" id="privacy_scrollspy">
                <a class="list-group-item list-group-item-action bg-accent text-adaptive" href="#header1">Privacy & user data</a>
                <a class="list-group-item list-group-item-action bg-accent text-adaptive" href="#header2">Legal liability</a>
            </div>
        </div>
        <!-- Card container -->
        <div class="col-md-9">
            <div class="card bg-accent border-adaptive text-adaptive">
                <!-- Card header -->
                <div class="card-header border-white">
                    <h1 class="card-title text-uppercase text-center"><b>Terms & service</b></h1>
                </div>

                <!-- Card content -->
                <div class="card-body">
                    <div data-bs-spy="scroll" data-bs-target="#privacy_scrollspy" data-bs-smooth-scroll="true" tabindex="0">
                    <!-- Sub heading Privacy and user data -->
                    <h4 class="card-subtitle mt-4 mb-2 text-center" id="header1">
                        <b>Privacy and user data:</b>
                    </h4>
                    <!-- Information of Privacy and user data -->
                    <p class="card-text">By creating an account, you hereby agree to give us the permission to process the following data: Email address, name, account username and account password. This data will be used to ensure that website can work as intended.</p>
                    <p class="card-text">In this default template, your data will not be processed by any third party or anyone. Only if you set in the template's code to send the data through a third party will the data entered into this website will be sent to a third party.</p>

                    <!-- Sub heading Legal liability -->
                    <hr class="mt-4"/>
                    <h4 class="card-subtitle mt-4 mb-2 text-center" id="header2">
                        <b>Legal liability:</b>
                    </h4>
                    <!-- Information of Legal liability -->
                    <p class="card-text">By using the website, either logging in or creating an account. You hereby agree that I, Noor irfan Naqvi, am not liable to any lawsuits or damages caused by the use of my template. And that I take no responsibility for how my template is used or transformed. And all responsibility of edited versions of my template fall on the respective owners of the edited copies of this website tempate.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>