:root {
    /* Light theme colors */
    --text-color: #000000 !important;
    --bg-color: #335D61 !important;
    --hrBar-color: #000000 !important;
    --link-color: #000000 !important;
    --accent-bg-color: #ffffff !important;
    --border-color: #acacac !important;
    --border-themetoggle-color: white !important;
}
.dark-mode { /* Dark theme colors */
    --text-color: #ffffff !important;
    --bg-color: #14213d !important;
    --hrBar-color: white !important;
    --link-color: white !important;
    --accent-bg-color: #000000 !important;
    --border-color: #4b565e !important;
    --border-themetoggle-color: white !important;
}

html {
    font-size: 14px;
    color-scheme: light dark;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb !important;
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
    margin-bottom: 60px;
}

/*classable colors [Dark and light mode compatible]*/
.text-linkcolor:hover {
    color: var(--link-color);
}
.bg-accent {
    background-color: var(--accent-bg-color);
}

.text-adaptive {
    color: var(--text-color);
}
.bg-adaptive {
    background-color: var(--bg-color);
}

/*Border and rim side colors [Dark and light mode compatible]*/
.border-theme-toggler {
    border-color: var(--border-themetoggle-color);
}
.border-adaptive {
    border-color: var(--border-color);
}

/*Rim sides in order of side border colors [Dark and light mode compatible]*/
.border-left-adaptive {
    border-left: 3rem solid var(--text-color);
}

.border-left-accent {
    border-left: 3rem solid var(--bg-color);
}